body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(su-san-lee-E_eWwM29wfU-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}

.login-container {
    background-color: #8496A4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 6px 4px 8px rgba(137, 65, 65, 0.2);
    text-align: center;
    width: 300px;
}

input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #EAC8C7;
}

button {
    background-color: #99251A;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #52261E;
}

#message {
    color: rgba(56, 30, 24, 0.737);
    margin-top: 10px;
}
h2{
    color: #52261E;
}

.login-container:hover{
    background-color: tomato;
}
